.DS_Store
.deps
.cproject
.project
.settings
src/.deps
src/**/*.lo
src/**/*.a
src/**/*.la
src/**/*.libs
src/acinclude.m4
src/aclocal.m4
src/autom4te.cache
src/build
src/config.guess
src/config.h
src/config.h.in*
src/config.log
src/config.nice
src/config.status
src/config.sub
src/configure
src/configure.ac
src/install-sh
src/libtool
src/ltmain.sh
src/Makefile
src/Makefile.fragments
src/Makefile.global
src/Makefile.objects
src/missing
src/mkinstalldirs
src/modules
src/run-tests.php
src/tests/**/*.diff
src/tests/**/*.out
src/tests/**/*.php
src/tests/**/*.exp
src/tests/**/*.log
src/tests/**/*.sh
aerospike-client-c
php-headers
